---
Checks: |
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  performance-*,
  portability-*,
  readability-*,
  -altera-*,
  -fuchsia-*,
  -llvmlibc-*,
  -modernize-*,
  -objc-*
WarningsAsErrors: ''
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: true
  - key: bugprone-misplaced-widening-cast.CheckImplicitCasts
    value: true
  - key: bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression
    value: true
  - key: bugprone-suspicious-string-compare.WarnOnLogicalNotComparison
    value: true
  - key: cert-err33-c.CheckStrToumax
    value: true
  - key: cert-err33-c.CheckStrToFloat
    value: true
  - key: misc-unused-parameters.IgnoreMacros
    value: false
  - key: readability-else-after-return.WarnOnUnfixable
    value: true
  - key: readability-else-after-return.WarnOnConditionVariables
    value: true
  - key: readability-inconsistent-declaration-parameter-name.Strict
    value: true
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0,1,2,3,4,8,10,12,16,32,64,100,1000'
  - key: readability-magic-numbers.IgnoreBitFieldsWidths
    value: true
  - key: readability-named-parameter.IgnoreMacros
    value: false
  - key: readability-qualified-auto.AddConstToQualified
    value: true
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalFunctionCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.LocalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.StaticConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticVariableCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
